:root {
  --color-man: black;
}

.flex {
  display: flex;
}

.letra {
  font-size: 70px;
  padding: 15px;
}

.boneco {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 300px;
}

.cabeca {
  border: solid 5px var(--color-man);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: none;
}
.meio {
  display: flex;
  align-items: top;
  justify-content: center;
}
.corpo {
  background-color: var(--color-man);
  height: 160px;
  width: 5px;
  display: none;
}

.braco-esquerdo {
  position: absolute;
  margin-left: -44px;
  background-color: var(--color-man);
  height: 75px;
  width: 5px;
  transform: rotate(-145deg);
  display: none;
}

.braco-direito {
  position: absolute;
  margin-right: -44px;
  background-color: var(--color-man);
  height: 75px;
  width: 5px;
  transform: rotate(145deg);
  display: none;
}
.pernas {
  display: flex;
  align-items: top;
  justify-content: center;
}
.perna-direita {
  position: absolute;
  margin-right: -44px;
  margin-top: -10px;
  background-color: var(--color-man);
  height: 75px;
  width: 5px;
  transform: rotate(145deg);
  display: none;
}

.perna-esquerda {
  position: absolute;
  margin-left: -44px;
  margin-top: -10px;
  background-color: var(--color-man);
  height: 75px;
  width: 5px;
  transform: rotate(-145deg);
  display: none;
}

.palavra{
  font-size: 16px;
}
.espaco{
  width: 50px;
}

  display: block;
}
